html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100%;
}

/* Layout*/
.grid-container{
  display: grid;
  grid-template-areas:
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 7rem 1fr 10rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #203040;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: white;
}

/* Common*/
h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2{
  font-size: 1.6rem;
  padding: 1rem 0;
}

a{
  text-decoration: none;
  color: #31789c;
}

a:hover{
  color: orange;
}

ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li{
  margin-top: 1rem;
}

input, select, textarea, button{
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  background-color: #f8f8f8;
  cursor: pointer;
}

input:hover, select:hover, textarea:hover, button:hover{
  border: 0.1rem #404040 solid;
}

button.primary{
  background-color: #31789c;
  color: white;
}

button.block{
  width: 100%;
}

button.small{
  font-size: 1.2rem;
}

a.brand{
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

/* Header*/
header a{
  color: white;
  padding: 1rem ;
}

.badge{
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center{
  justify-content: center;
  padding-top: 1rem;
}

.row.top{
  align-items: flex-start;
}

.col-1{
  flex: 1 1 25rem;
}

.col-2{
  flex: 2 1 50rem;
}

.col-4{
  flex: 4 1 100rem;
}

.min-30{
  min-width: 30rem;
}

/*Images*/
img{
  border-radius: 0.5rem ;
  width: 450px;
  /* height: 366px; */
}

img.small{
  max-width: 5rem;
  width: 100%;
}

img.medium{
  max-width: 29rem;
  width: 100%;
}

img.large {
  width: 100%;
}

/* Card */
.card{
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
  width: 450px;
}

.card-body{
  padding: 1rem!important;
}

.card-body > *{
  margin-bottom: 0.5rem;
}

.price{
  font-size: 2rem;
}

/* Rating */
.rating span{
  color: #f0c040;
  margin: 0.1rem;
}

.rating span:last-child{
  color: black;
}

/* Alerte */
.loading{
  display: block !important;
}

.success{
  color: #20a020;
}

.danger{
  color: #a20a02;
}

.alert{
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info{
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-danger{
  color: #a02020;
  background-color: #ffe0e0;
}

.alert-success{
  color: #20a020;
  background-color: #eeffe0;
}

/*Form*/
.form{
  max-width: 60rem;
  margin: 0 auto;
}

.form.sign{
  background-color: white;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}

.form > div{
  display: flex;
  flex-direction: column;
  margin: 2.5rem;
}

.from label{
  margin: 1rem 0;
}

/*dropdown*/

.dropdown{
  display: inline-block;
  position: relative;
}

.dropdown-content{
  position: absolute;
  display: none;
  right: 0;
  min-width: 25rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*checkout steps*/
.checkout-steps > div{
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}

.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}


/*Table*/

.table {
  width: 100%;
  border-collapse: collapse;
}

.table tbody tr:nth-of-type(odd){
  background-color: #f4f4f4;
}

.table td, .table th{
  text-align:left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}

.table button{
  margin: 0 0.2rem;
}

/*Calendar*/

.DayPicker_weekHeader_ul {
  margin: -15px 0!important;
}

.cal{
  width: 25%!important;
  float: right;
}

.logo1{
  width: 25rem;
}

.fa.fa-facebook{
  color: White!important;
}
 

.fa.fa-instagram{
  color: White!important;
}

.fa.fa-linkedin{
  color: White!important;
}

.socialnet{
  padding: 0 5rem 0 5rem;
}

.subfooter{
  text-align: center;
  background-color: #203040;
  color: white;
  padding-bottom: 2rem;
}

.slide{
  margin: 0 auto;
  width: 1000px; 
}

.banner{
  width: 1000px;
}

.mllogo{
  margin: 0 auto;
  width: 300px;
}

.mllogob{
  width: 300px;
}

.title {
  text-align: center;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  background-color: #203040;
  color: white;
  border-radius: 2rem;
}

.titlesign{
  text-align: center;
}

.card.card-body.left{
  width: 650px;
}

.about{
  text-align: justify;
}

.col-2.abt{
  margin: 0 30px;
}

.col-2.abtp{
  margin: 0 30px;
}

.col-1.val{
  margin: 0 100px;
}

.icone{
  width: 100px;
}

.icone3{
  width: 150px;
}

.icone4{
  width: 120px;
}

.imgcenter{
  text-align: center;
}

.mockup{
  width: 300px;
}

.col-2.mock{
  margin: 0 30px;
}

/*Menu burger*/

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  width: 100%;
  min-height: 75px;
  background-color: #203040;
  color: #FFF;
}

.navbar__links {
  display: flex;
}

.navbar__link {
  padding: 0 1rem;
  color: inherit;
  text-align: center;
}

.dropburger{
  text-align: center;
}

.navbar__burger{
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: inherit;
  display: none;
}

@media screen and (max-width: 850px) {
  .navbar__links{
    flex-direction: column;
    justify-content: center;
    position: fixed;
    align-items: center;
    right: -100vw;
    bottom: 0;
    width: 0;
    height: 100vh;
    background-color: #203040;
    visibility: hidden;
    transition: all .8s ease-out;
  }

  .show-nav .navbar__links{
    width: 100vw;
    right: 0;
    visibility: visible;
  }

  .navbar__link{
    display: block;
    padding: 1.5rem;
    font-size: 5vw;
  }

  .navbar__burger{
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
  }

  .navbar__burger:hover{
    cursor: pointer;
  }

  .burger-bar, .burger-bar::before, .burger-bar::after{
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background: #FFF;
    transition: all .5s ease-in-out;
  }

  .burger-bar::before, .burger-bar::after{
    content:"";
    position: absolute;
    left: 0;
  }

  .burger-bar::before{
    transform: translateY(-12px);
  }

  .burger-bar::after{
    transform: translateY(12px);
  }

  .show-nav .burger-bar{
    width: 0;
    background: transparent;
  }

  .show-nav .burger-bar::before{
    transform: rotate(45deg);
  }

  .show-nav .burger-bar::after{
    transform: rotate(-45deg);
  } 
}