/*NOTE :  l'  ordre  de  ces  styles  DO  matière*/

/*Will  modifier  tout  sélectionné ,  y compris  tout  entre  une  plage  de  dates*/
.CalendarDay__selected_span {
    background: #82e0aa; /*background*/
    color: white; /*text*/
    border: 1px solid rgb(178, 241, 236) !important; /*default styles include a border*/
}

/*Éditera date sélectionnée ou les extrémités d'une plage de dates*/
.CalendarDay__selected {
    background: rgb(0, 166, 153) !important;
    color: white;
}

/*Will  modifier  quand  planait  sur . Le  style  _span possède également  cette propriété */
.CalendarDay__selected:hover {
    background: orange;
    color: white;  
}

/*Éditera lorsque la deuxième date (date de fin) dans une plage de dates
est pas encore sélectionné. Modifie  les  dates  entre  votre  souris  et  ladite  date */
.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: rgb(178, 241, 236) !important;
}

